@model cytology_portal.Models.CytologyViewModel
@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<div class="container">
@using (Html.BeginForm("SaveImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-3">
        <input type="file" name="file" />
    </div>
    <div class="col-md-3">
        <input type="submit" value="Upload" />
    </div>
}
</div>
<br /><br /><br />
<div>
@using (Html.BeginForm("SegmentImage", "Home"))
{
    @Html.DropDownListFor(y => y.Filename, Model.ImageNames)
    <div class="row">
        <div class="col-md-2">
            <span>X Position</span>
            @Html.TextBoxFor(y => y.X, new { id = "x"})
        </div>
        <div class="col-md-2">
            <span>Y Position</span>
            @Html.TextBoxFor(y => y.Y, new { id = "y" })
        </div>
        <div class="col-md-2">
            <span>Height</span>
            @Html.TextBoxFor(y => y.Height, new { id = "h" })
        </div>
        <div class="col-md-2">
            <span>Width</span>
            @Html.TextBoxFor(y => y.Width, new { id = "w" })
        </div>
        <div class="col-md-2">
            <span>Clustering</span>
            @Html.TextBoxFor(y => y.ClusteringThreshold)
        </div>
        <div class="col-md-2">
            <span>Smoothing</span>
            @Html.TextBoxFor(y => y.SmoothingThreshold)
        </div>
    </div>
    <input type="submit" value="Segment" />
}
    <br /><br />
    @using (Html.BeginForm("SplitTiff", "Home"))
    {
        @Html.DropDownListFor(y => y.Filename, Model.ImageNames)
        <input type="submit" value="Split Tiff Image" />
    }
</div>


@*<br /><br /><br /><br />
@{  var imagePath = "";
    if (Request["Filename"] != null)
    {
        imagePath = "/Content/Images/" + Request["Filename"];
    }
} 
<form method="post" action="">
    <div>
        I want to see:
        @Html.DropDownListFor(y => y.Filename, Model.ImageNames, new {name = "photoChoice" })
        &nbsp;
        <input type="submit" value="Submit" />
    </div>
    <div style="padding:10px;">
        @if (imagePath != "" && imagePath != null)
        {
            <img src="@imagePath" alt="Sample Image" width="300px" />
        }
    </div>
</form>*@


<br /><br />

@using (Html.BeginForm("DisplayThumbnail", "Home"))
{
    @Html.DropDownListFor(y => y.Filename, Model.ImageNames)
    <input type="submit" value="Choose" />
    if (Model.ImagePath != "" && Model.ImagePath != null)
    {
    <img id="thumbnail" src="@Model.ImagePath" alt="Sample Image" width="300px" />
    } 
}


@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.Jcrop.min.js") 
<script language="Javascript">
    jQuery(function($) {
        $('#thumbnail').Jcrop({
            onChange: showCoords,
            onSelect: showCoords
        });
    });

    function showCoords(c) {
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#x2').val(c.x2);
        $('#y2').val(c.y2);
        $('#w').val(c.w);
        $('#h').val(c.h);
    }; 
</script>
}